{{define "services"}}
<section
  class="grid grid-cols-2 lg:grid-cols-4 gap-x-2 gap-y-6 font-body-xl mb-8 mx-4">
  <div class="flex items-center gap-4">
    <img src="/static/icons/device.svg" alt="Icon" />
    Latest & Greatest Tech
  </div>
  <div class="flex items-center gap-4">
    <img src="/static/icons/guarantee.svg" alt="Icon" />
    Quality Guarantee
  </div>
  <div class="flex items-center gap-4">
    <img src="/static/icons/shipping.svg" alt="Icon" />
    Free Shipping
  </div>
  <div class="flex items-center gap-4">
    <img src="/static/icons/timer.svg" alt="Icon" />
    24/7 Support
  </div>
</section>
{{end}}
