<!DOCTYPE html>
<html lang="en">
  {{template "head" "RaelElectronics"}}
  <body>
    <main class="container flex flex-col gap-6 md:gap-12">
      {{template "header" .}}

      <div
        class="min-h-80 grid grid-cols-1 md:grid-cols-2 gap-8 md:-mt-12 px-4">
        <div
          class="flex flex-col justify-evenly gap-4 items-center md:items-start">
          <h1 class="font-display-1">Raël Electronics</h1>
          <h1 class="font-h3">
            &OpenCurlyDoubleQuote;Join the
            <span class="text-secondary">digital revolution</span
            >&CloseCurlyDoubleQuote;
          </h1>
          <button class="btn-lg btn-secondary w-full max-w-sm mt-4 md:mt-[10%]">
            Explore All Laptops
          </button>
        </div>
        <img src="/static/images/landing/hero.webp" alt="Hero image" class="" />
      </div>

      <section class="grid grid-cols-3 md:grid-cols-6 gap-3 md:gap-6 p-4">
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/lenovo.svg" alt="Hero image" />
          <span>Lenovo</span>
        </a>
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/apple.svg" alt="Hero image" />
          <span>Apple</span>
        </a>
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/hp.svg" alt="Hero image" />
          <span>HP</span>
        </a>
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/msi.svg" alt="Hero image" />
          <span>MSI</span>
        </a>
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/dell.svg" alt="Hero image" />
          <span>Dell</span>
        </a>
        <a href="/feed?brand=" class="product-brand">
          <img src="/static/images/brands/asus.svg" alt="Hero image" />
          <span>Asus</span>
        </a>
      </section>

      <section
        class="relative overflow-hidden flex flex-col md:flex-row gap-x-12 gap-y-4 bg-primary-500 rounded-lg mx-4 self-stretch p-4 md:p-8">
        <img
          src="/static/images/landing/new-arrival.webp"
          alt="New Arrival"
          class="absolute z-0 left-[-5%] top-[-20%] bottom-0 h-[125%]" />
        <div
          class="z-[1] text-white flex md:flex-col items-center gap-2 py-4 whitespace-nowrap">
          <div class="flex gap-2 flex-col">
            <h2 class="font-h4">New Arrivals</h2>
            <span class="font-body-xl">Shop Now</span>
          </div>
          <button class="btn-lg ml-auto md:ml-0 md:mt-auto">
            View All <span class="material-symbols-rounded">chevron_right</span>
          </button>
        </div>
        <div class="z-[1] -mr-4 md:-mr-8 flex gap-6 overflow-auto pr-6 -mb-2">
          {{range .NewArrivals}}
          <a
            href="/l/{{.Uid}}"
            class="group bg-white rounded flex flex-col gap-1 min-w-48 max-w-48 p-2">
            <img
              src="{{.Thumbnail}}"
              alt="Laptop Thumbnail"
              class="aspect-square object-contain py-[5%]" />
            <h3
              class="font-body-sm line-clamp-2 text-ellipsis group-hover:text-secondary transition-all duration-500">
              {{.Name}}
            </h3>
            <span class="self-end text-gray-500 font-body-xs mt-auto"
              >from
              <span
                class="font-caption-md text-black group-hover:text-secondary transition-all duration-500"
                >${{.Price}}</span
              ></span
            >
          </a>
          {{end}}
        </div>
      </section>

      <section class="flex flex-col mx-4">
        <div
          class="flex items-center gap-2 py-4 whitespace-nowrap border-b border-gray-300">
          <h2 class="font-h4">Featured Laptops</h2>
          <button class="btn-lg ml-auto">
            View All <span class="material-symbols-rounded">chevron_right</span>
          </button>
        </div>
        <div
          class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-3 md:gap-6 py-4 md:py-8">
          {{range .Featured}}
          <a
            href="/l/{{.Uid}}"
            class="group bg-white rounded-lg shadow-shadow1 flex flex-col gap-2 w-full p-4 hover:shadow-black/20 hover:-translate-y-3 hover:rounded-2xl transition-all duration-700 md:last:hidden lg:last:flex">
            <img
              src="{{.Thumbnail}}"
              alt="Laptop Thumbnail"
              class="aspect-[5/4] object-contain p-[5%]" />
            {{template "separator" .}}
            <h3
              class="font-h6 line-clamp-2 text-ellipsis mt-2 mb-auto group-hover:text-secondary transition-all duration-500">
              {{.Name}}
            </h3>
            <div
              class="grid grid-cols-[1fr,2fr] p-2 gap-4 font-body-sm whitespace-nowrap overflow-hidden text-ellipsis">
              <span class="flex items-center gap-2">
                <span class="material-symbols-rounded">aspect_ratio</span
                >{{.Size}}"
              </span>
              <span class="flex items-center gap-2">
                <span class="material-symbols-rounded">memory</span>{{.Cpu}}
              </span>
              <span class="flex items-center gap-2">
                <span class="material-symbols-rounded">memory_alt</span
                >{{.Memory}}GB
              </span>
              <span class="flex items-center gap-2">
                <span class="material-symbols-rounded">storage</span
                >{{.Storage}}GB
              </span>
            </div>
            <div class="flex justify-between items-center">
              <button
                class="icon-button group-hover:text-secondary transition-all duration-500">
                <span class="material-symbols-rounded mt-1 -mb-1"
                  >favorite</span
                >
              </button>
              <span class="text-gray-500 font-body-sm"
                >from
                <span
                  class="font-h4 text-black group-hover:text-secondary transition-all duration-500"
                  >${{.Price}}</span
                ></span
              >
            </div>
          </a>
          {{end}}
        </div>
      </section>

      <section
        class="grid grid-cols-2 lg:grid-cols-4 gap-x-2 gap-y-6 font-body-xl mb-8 mx-4">
        <div class="flex items-center gap-4">
          <img src="/static/icons/device.svg" alt="Icon" />
          Latest & Greatest Tech
        </div>
        <div class="flex items-center gap-4">
          <img src="/static/icons/guarantee.svg" alt="Icon" />
          Quality Guarantee
        </div>
        <div class="flex items-center gap-4">
          <img src="/static/icons/shipping.svg" alt="Icon" />
          Free Shipping
        </div>
        <div class="flex items-center gap-4">
          <img src="/static/icons/timer.svg" alt="Icon" />
          24/7 Support
        </div>
      </section>
    </main>
    {{template "footer" .}}
  </body>
</html>
