@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #aaaaaa6a;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa96;
  background-clip: padding-box;
}

.container {
  @apply max-w-screen-xl mx-auto;
}

.product-brand {
  @apply w-full flex flex-col px-5 pb-4 items-center gap-3 rounded-lg bg-white shadow-shadow1 font-caption-lg hover:text-secondary hover:rounded-2xl hover:shadow-shadow2 transition-all duration-300 overflow-hidden;
}

.product-brand.active {
  @apply bg-gray-100 text-secondary shadow-none rounded-2xl;
}

.product-brand.sm {
  @apply gap-0 px-3 pb-3;
}

.product-brand img {
  @apply w-full aspect-square object-contain py-[20%];
}

.product-brand span {
  @apply w-full overflow-hidden text-ellipsis text-center;
}

.specification {
  @apply flex-1 p-4 rounded-xl border-2 border-gray-300;
}

.specification:has(input[type="radio"]:checked) {
  @apply border-primary;
}
.config1 .specification {
  @apply border-none cursor-default px-0 py-2 md:py-4;
}
.config1 .specification input[type="radio"] {
  @apply hidden;
}

.configs {
  @apply flex flex-wrap gap-4 md:gap-8;
}

.specification .title {
  @apply flex items-center justify-between gap-4;
}

.specification h5 {
  @apply whitespace-nowrap font-h6 mb-2;
}

.specification p {
  @apply font-body-md text-gray-500;
}

.specification input[type="radio"] {
  @apply h-6 w-6;
}

.pagination {
  @apply flex items-center justify-center gap-2 md:gap-4;
}

.pagination .page {
  @apply w-9 h-9 md:w-12 md:h-12 flex items-center justify-center font-caption-lg hover:bg-gray-100 hover:rounded-lg transition-all duration-300;
}

.pagination .page.active {
  @apply border-b-2 border-primary text-primary;
}

.icon-button {
  transition: all 200ms ease-in;
  @apply flex w-10 h-10 hover:bg-black/10 text-gray-700 hover:text-black rounded-full items-center justify-center;
}

.icon-button.lg {
  @apply w-12 h-12;
}

.icon-button .material-symbols-rounded {
  @apply text-3xl;
}

.icon-button.lg .material-symbols-rounded {
  @apply text-4xl;
}

.btn-md {
  @apply py-2 px-4 rounded-lg font-button-lg flex items-center gap-3 justify-center transition-all duration-300;
}
.btn-lg {
  @apply p-4 rounded-lg font-button-lg flex items-center gap-3 justify-center transition-all duration-300;
}

.btn-primary {
  @apply bg-primary text-white hover:brightness-90;
}

.btn-secondary {
  @apply bg-secondary text-white hover:brightness-90;
}

.btn-text {
  @apply text-primary hover:text-primary-500;
}

.btn-outlined {
  @apply border-2 border-primary text-primary hover:bg-primary-25;
}

.chip {
  @apply flex p-1 md:p-2 pl-3 gap-3 md:gap-4 items-center border-2 border-gray-300 font-button-sm md:font-button-lg rounded-lg;
}

.chip .icon-button {
  @apply w-6 h-6 md:w-7 md:h-7 rounded-lg border border-gray-400;
}

.chip .material-symbols-rounded {
  @apply !text-base md:!text-xl text-gray-500;
}

label:has(input) {
  cursor: pointer;
}
