@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Inter";
}

*::-webkit-scrollbar {
  width: 8px;
}

/* Track */
*::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
*::-webkit-scrollbar-thumb {
  background: #aaaaaa6a;
  background-clip: padding-box;
  border: 4px solid rgba(0, 0, 0, 0);
  border-radius: 10px;
}

/* Handle on hover */
*::-webkit-scrollbar-thumb:hover {
  background: #aaaaaa96;
  background-clip: padding-box;
}

.container {
  @apply max-w-screen-xl mx-auto;
}

.product-brand {
  @apply w-full flex flex-col px-5 pb-4 items-center gap-3 rounded-lg bg-white shadow-shadow1 font-caption-lg hover:text-secondary hover:rounded-2xl hover:shadow-shadow2 transition-all duration-300 overflow-hidden;
}

.product-brand.active {
  @apply bg-gray-100 text-secondary shadow-none rounded-2xl;
}

.product-brand.sm {
  @apply gap-0 px-3 pb-3;
}

.product-brand img {
  @apply w-full aspect-square object-contain py-[20%];
}

.product-brand span {
  @apply w-full overflow-hidden text-ellipsis text-center;
}

.icon-button {
  transition: all 200ms ease-in;
  @apply flex w-10 h-10 hover:bg-black/10 text-gray-700 hover:text-black rounded-full items-center justify-center;
}

.icon-button .material-symbols-rounded {
  @apply text-3xl;
}

.btn-lg {
  @apply p-4 rounded-lg font-button-lg flex items-center gap-3 justify-center transition-all duration-300;
}

.btn-primary {
  @apply bg-primary text-white hover:brightness-90;
}

.btn-secondary {
  @apply bg-secondary text-white hover:brightness-90;
}

.btn-text {
  @apply text-primary hover:text-primary-500;
}

.btn-outlined {
  @apply border-2 border-primary text-primary hover:bg-primary-25;
}

.chip {
  @apply flex p-1 md:p-2 pl-3 gap-3 md:gap-4 items-center border-2 border-gray-300 font-button-sm md:font-button-lg rounded-lg;
}

.chip .icon-button {
  @apply w-6 h-6 md:w-7 md:h-7 rounded-lg border border-gray-400;
}

.chip .material-symbols-rounded {
  @apply !text-base md:!text-xl text-gray-500;
}

label:has(input) {
  cursor: pointer;
}
