{{define "head"}}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>RaelElectronics {{if .}}|{{end}} {{.}}</title>
  <meta name="description" content="Laptop Ecommerce Platform" />
  <link rel="stylesheet" href="/static/css/tailwind.css" />
  <script
    src="https://unpkg.com/htmx.org@2.0.3"
    integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
    crossorigin="anonymous"></script>
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@24,300,0,0&icon_names=alternate_email,aspect_ratio,call,chevron_left,chevron_right,close,favorite,local_shipping,location_on,memory,memory_alt,person,search,shopping_bag,storage,storefront,tune,verified" />
  <!-- Sort icons alphabetically -->
</head>
{{end}}
